/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cpb-image-accordion-block {

	.accordion-wrapper {

		.accordion-title {
			cursor: auto;

			&::after, &.active::after {
				font-size: 16px;
				background-color: #FFFFFF;
				float: right;
				width: 30px;
				height: 30px;
				text-align: center;
				border-radius: 20px;
			}
		}
	}
}

.wp-block-cpb-image-accordion-block.is-selected .accordion-content {
	display: block;
}
